/* Set the color variables to use in this stylesheet */
:root {
    --page-background: linear-gradient(160deg, #376DFF 3.32%, #001B65 65.68%, #1E326C 100%);
    --header-background: linear-gradient(90deg, rgba(55, 109, 255, 0.75) 0.14%, rgba(0, 19, 128, 0.75) 88.03%);;
}


/* Define general styling for the whole website, header, main contentand footer */
body {
    background: var(--page-background);
    width: 1440px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    color: #FFF;
}

body.home_page {
    height: 2768px;
}

body.about_page {
    height: 1980px;
}

/* ------begin header------ */
.header {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 110px;
    margin: 0;
    flex-shrink: 0;
    background: var(--header-background);
}

.header .logo a:link {
    position: absolute;
    left: 15px;
    top: 10px;
    padding: 10px;
    color: #FFF;
    font-size: 57px;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}
.header .logo a:visited {
    color: #FFF;
}

.navigation-bar {
    display: block;
    position: absolute;
    left: 680px;
    top: 55px;
}

.navigation-bar a:link {
    margin: 0 10px;
    padding: 5px;
    color: #FFF;
    font-size: 22px;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}
.navigation-bar a:visited {
    color: #FFF;
}

.search-navbar {
    position: absolute;
    top: -4.5px;
    right: -200px;
}

.search-navbar img {
    position: absolute;
    top: 2px;
    left: -35px;
    width: 35px;
    height: 35px;
}
/* ------end header------*/

/* ------begin main content------*/
.main-content {
    width: 1086px;
    margin: auto;
    margin-top: 140px;
}

.main-content .wide { /* WERKT NIET GOED (TODO) */
    width: 1305px;
    margin: auto;
}
/* ------end main content------*/

/* ------begin footer------*/

/* ------end footer------*/


/* Define the standard typography styles */
h1 {
    color: #FFF;
    font-size: 45px;
    font-weight: 600;
    line-height: normal;
}

h2 {
    color: #FFF;
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
}

h3 {
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
    line-height: normal;
}

h4, h5, h6 {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

p {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.links {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: auto;
}

/* Begin of styling for the individual pages */

.container {
    display: flex;
    margin: 0;
    justify-content: center;
    height: auto;
}

.text_box {
    width:50%;
    line-height: 2;
}

/* Styling Home page */



/* Styling About page */
/* Styling Timeline */
.timeline-wrapper {
    position: relative;
    width: 100%;
    margin: auto;
    height: 300px;
}


.timeline-wrapper .middle-line {
    position: absolute;
    width: 100%;
    height: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: #d9d9d9;
}


.timeline-box {
    width: 25%;
    position: relative;
    min-height: 300px;
    float: right;
}


.date {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #fff;
    border: 2px solid #d9d9d9;
}


.date p {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 0px;
}